
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #CAF0F8;
    color : black;
    display:inline-block;
}

/* --------nav bar -------- */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.75rem;
    position: fixed;
    z-index: 10;
    background-color: #00B4D8;
}
.nav-logo h1 {
    opacity: 0.7;
    flex: 1;
    font-size: 1.75rem;
}
.nav-logo h1:hover {
    opacity: 1;
    font-size: 1.85rem;
    
}

.nav-logo {
    display: flex;
    align-items: center;
    width: 50%;
    flex: 1;
    padding-left: 1.5rem;
}
.nav-logo .logo i {
    font-size: 2.5rem;
    padding-top: 0.45rem;
    flex: 1;
    padding-left: 0.13rem;
}
.logo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 0.25rem solid black;
    color: black;
    opacity: 0.7;
}
.logo:hover {
    opacity: 1;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 2rem;
}
.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 1rem;
    opacity: 0.7;
}
.nav-links a:hover {
   font-size: 1.65rem;
    opacity: 1;

}
.expand {
    display: none;
    justify-content: flex-end;
}

/* --------Main-------- */
.main-container {
    display: inline-block;
    display: grid;
  justify-content: end;
    width: 100%;
    margin-top: 4rem;
    height: 80%;
}
.side-bar{
    width: 20rem;
    height: 71%;
    background-color: #90E0EF;
    border-radius: 2rem;
    overflow: auto;
    position: fixed;
    
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-pic img {
    width: 100px;
    height:100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile-pic img:hover {
      width :110px;
        height: 110px;
        object-fit: cover;
        border-radius: 50%;
}
  .profile-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .options .option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  
  }
    .options .option a {
        text-decoration: none;
        color: black;
        opacity: 0.7;

    }
    .options .option a:hover {
        opacity: 1;
    }

    /*  code for main  */
    .main{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        background-color: #90E0EF;
        border-radius: 2rem;
        height: 100%;
        margin-left: 21rem;
        margin-right: 0;
        padding: 1rem;
    }
    .inputs{
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
        align-items: center;
        flex-direction: column;
    }
    
    .email {
        justify-content: center;
        align-items: center;
       
        width:  50% ;
    }
.input-group{
    width: 50%;
}
.info {
    display: flex;
    width: 100%;
    font-size: 1rem;
    /* align-content: center; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center ;
    justify-items: center;
}

.draft{
    height: 8rem;
}
.send{
    justify-content: center;
    align-items: center;
    align-content: center ;
    justify-items: center;
}

@media screen and (max-width: 1490px) {
    .main{
        width: 76%;
    }
    @media screen and (max-width: 1400px) {
        .main{
            width: 74%;

        }
        @media screen and (max-width: 1250px) {
            .main{
                width: 70%;
            }
            .input-group{
                width: 75%;
            }
            @media screen and (max-width: 1100px) {
                .main{
                    width: 67%;
                }
}
    
}
    }
}

/* --------Footer-------- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 20%; */
    bottom: 0;
    height: 5rem;
    background-color: #00B4D8;
    color: black;
    position: fixed;
    padding: 2rem;
    /* z-index: 10; */
    
}


  
  .footer  .footer-content img {
    width: 20px;
    height: 20px;
    flex: 1;
  }
  
  .footer .footer-content {
    font-weight: 700;
    text-align: center;
    flex: 1;
  }
  
  .footer .footer-bottom p {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    flex: 1;
  }
  

/* responsive design */
  @media screen and (max-width: 900px) {
    .nav-links {
        display: none;
    }
    .nav-logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.5rem;
    }
    .side-bar {
        width: 0;
        display: none;
    }
    .main-container { 
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .main {
        width: 100%;
        margin-left: 0;
        padding: 2rem;
        box-sizing: border-box;
        flex-direction: column; 
        align-items: center;
        justify-content: flex-start; 
    }
    .expand {
        display: flex;
        justify-content: flex-end;
        padding-right: 1.5rem;
    }
    .profile-pic img{
        display: none;   
    }
}
@media screen and (max-width: 350px) {
    .nav-links {
     display: none;
    }
    .nav-logo {
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;

    font-size: 1rem;
    }
    .logo {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        border: 0.2rem solid black;
    }
    .nav-logo .logo i {
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-left: 0.39rem;
    }
    .nav-logo h1{
        display: none;
    }
    
}
@media screen and (max-width: 700px) {

    .input-group{
        width: 90%;
    }
}
@media screen and (max-width: 500px) {

    .input-group{
        width: 98%;
    }
}
    
